{% extends 'template.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="row">
		<div>Bienvenue
			{{ app.user.Email}}</div>
	</div>
	{# <div class="btn">
	<a href="{{ path('app_edit_profile',{'id': app.user.id }) }}">
		<button class="btn shadow-1 rounded-1 btn-outline btn-opening text-blue">
			<span class="btn-outline-text">Changer votre profil</span>
		</button>
		</a>
	</div> #}
	<div class="btn">
		<button class="btn shadow-1 rounded-1 btn-outline btn-opening green dark-4">
			<span class="btn-outline-text">Changer le mot de passe</span>
		</button>
	</div>
	<h2>Motifs des visites de
		{{ app.user.Email}}</h2>
	{# {% for visite_recue in app.employe.VisiteRecue %}
					<div class="col">Motif:</div>
					<div>{{ visite_recue.motif }}</div>
				{% endfor %} #}
{% endblock %}
{#{{ render(controller('App\\Controller\\ProfileController::index2')) }}
#}
