<!DOCTYPE HTML>

<html>
	<head>
		<title>Urban by TEMPLATED</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="{{asset('css/main2.css')}}"/>
	</head>
	<body>
		<style>
			.banner {
				background-image: {{asset('assets/banner.jpg')}};
			}
		</style>
		<!-- Header -->
		<header id="header" class="alt">
			<div class="logo">
				<a href="index.html">ORAGUEST
					<span>Gestion des regitres</span>
				</a>
			</div>
		</header>

		<!-- Nav -->


		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1>Gestion des registres à Orabank TOGO</h1>
					<p>Désormais, gérez éfficacement vos visiteurs
						<br/>Garder ainsi un impact positif aupres de ces derniers</p>
				</header>
				<a href="{{path('app_login')}}" class="button big scrolly">Se connecter</a>
			</div>
		</section>

		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/jquery.scrolly.min.js')}}"></script>
		<script src="{{asset('js/jquery.scrollex.min.js')}}"></script>
		<script src="{{asset('js/skel.min.js')}}"></script>
		<script src="{{asset('js/util.js')}}"></script>
		<script src="{{asset('js/main2.js.js')}}"></script>

	</body>
</html>
