{% extends 'template.html.twig' %}

{% block title %}RendezVous index
{% endblock %}

{% block body %}
	<h1>RendezVous index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Heure</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for rendez_vou in rendez_vouses %}
				<tr>
					<td>{{ rendez_vou.id }}</td>
					<td>{{ rendez_vou.createdAt ? rendez_vou.createdAt|date('Y-m-d') : '' }}</td>
					<td>{{ rendez_vou.heure ? rendez_vou.heure|date('H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_rendez_vous_show', {'id': rendez_vou.id}) }}">
							<i class="fa-solid fa-eye"></i>
						</a>
						<a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						<a>{{ include('rendez_vous/_delete_form.html.twig') }}</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun rendez-vous pour le moment</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('app_rendez_vous_new') }}">

		<button class="btn btn-success">
			<i class="fa-solid fa-plus"></i>
		</button>
	</a>
{% endblock %}
