{% extends 'template.html.twig' %}

{% block title %}Statistiques pour  directions
{% endblock title %}
{% block body %}
	<h3>Statistiques du nombre de visites par mois pour la direction:
		{{direction}}
	</h3>
	<div style="width:60%;height:50%">
		<canvas id="visitsChart"></canvas>
	</div>

	<div class="card-body">
		<h3>
			Historique des visites liées à la direction
			{{direction}}
		</h3>

		<table id="datatablesSimple">
			<thead>
				<tr>
					<th>Type de visiteur</th>
					<th>Visiteur</th>
					<th>Employe visité</th>
					<th>Motif</th>
					<th>Date de visite</th>
					<th>Heure de visite</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Type de visiteur</th>
					<th>Visiteur</th>
					<th>Employe visité</th>
					<th>Motif</th>
					<th>Date de visite</th>
					<th>Heure de visite</th>
				</tr>
			</tfoot>
			<tbody>
				{% for visite in visitesParDirection %}
					<tr>
						<td>{{visite.typeVisiteur}}</td>
						<td>
							{% if visite.typeVisiteur == 'Visiteur externe' %}
								{{ visite.visiteurExterne }}
							{% elseif visite.typeVisiteur == 'Employe visiteur' %}
								{{ visite.employeVisiteur}}
							{% endif %}
						</td>
						<td>{{visite.employeVisite}}</td>
						<td>
							{{ visite.Motif }}
						</td>
						<td>{{visite.DateVisite|date("m/d/Y")}}</td>
						<td>{{visite.HeureDeb| date('h:i')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	{# <a href="{{ path('app_employe_actifs') }}">
																																																															<button class="btn btn-primary">Retour</button>
																																																														</a> #}
</div>
{# <h3>Liste des visites liées à la direction:
		{{ direction }}</h3>
	<ul>
		{% for visite in visitesParDirection %}
			<li>{{ visite.dateVisite|date('d/m/Y') }}
				-
				{{ visite.etatVisite ? 'Acceptée' : 'Refusée' }}</li>
		{% endfor %}
	</ul> #}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const monthNames = {
1: 'Janvier',
2: 'Février',
3: 'Mars',
4: 'Avril',
5: 'Mai',
6: 'Juin',
7: 'Juillet',
8: 'Août',
9: 'Septembre',
10: 'Octobre',
11: 'Novembre',
12: 'Décembre'
};

const data = {
labels: [{% for statistique in statistiquesParDepartement %}'{{ monthNames[statistique.mois] }}',{% endfor %}],
datasets: [
{
label: 'Nombre de Visites',
data: [{% for statistique in statistiquesParDepartement %}{{ statistique.nombreVisites }},{% endfor %}],
backgroundColor: '#FBCEB1',
borderColor: 'rgb(75, 192, 192)',
borderWidth: 1
}
]
};
const config = {
type: 'bar',
data: data,
options: {
responsive: true,
scales: {
y: {
beginAtZero: true
}
}
}
};

const visitsChart = new Chart(document.getElementById('visitsChart'), config);
</script>{% endblock body %}
