{% extends 'template.html.twig' %}

{% block title %}Statistiques pour  directions
{% endblock title %}
{% block body %}
	<h3>{{direction}}</h3>
	<div style="display:flex">
		<div style="width:50%;height:50%">
			<canvas id="visitsChart"></canvas>
			<strong style="margin-top:30px">Nombre de visites par mois</strong>
		</div>

		<div style="width:35%;margin-left:70px;">
			<canvas id="employeeStatsPieChart"></canvas>
			<strong style="margin-top:30px">Employes les plus visités</strong>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script>
		const mostVisitedEmployeesInDirection = {{ mostVisitedEmployeesInDirection | json_encode | raw }};
const labels = mostVisitedEmployeesInDirection.map(employee => `${
employee.nom
} ${
employee.prenoms
}`);
const counts = mostVisitedEmployeesInDirection.map(employee => employee.count);

const ctx = document.getElementById('employeeStatsPieChart');

new Chart(ctx, {
type: 'pie',
data: {
labels: labels,
datasets: [
{
data: counts,
backgroundColor: [
'rgba(255, 99, 132, 0.6)',
'rgba(54, 162, 235, 0.6)',
'rgba(255, 206, 86, 0.6)',
'rgba(0, 48, 143, 0.6)',
'rgb(145,92,131,0.6)'
// ... plus de couleurs si nécessaire
]
}
]
},
options: {
title: {
display: true,
text: 'Employés les plus visités'
}
}
});
	</script>
	<div class="card-body" style="margin-top:50px">
		<h3>
			Historique des visites liées à la direction
			{{direction}}
		</h3>

		<table id="datatablesSimple">
			<button onclick="window.print()" class=" btn-danger">Imprimer</button>
			<thead>
				<tr>
					<th>Type de visiteur</th>
					<th>Visiteur</th>
					<th>Employe visité</th>
					<th>Motif</th>
					<th>Date de visite</th>
					<th>Heure de visite</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Type de visiteur</th>
					<th>Visiteur</th>
					<th>Employe visité</th>
					<th>Motif</th>
					<th>Date de visite</th>
					<th>Heure de visite</th>
				</tr>
			</tfoot>
			<tbody>
				{% for visite in visitesParDirection %}
					<tr>
						<td>{{visite.typeVisiteur}}</td>
						<td>
							{% if visite.visiteurExterne is not null %}
								{{ visite.visiteurExterne }}
							{% elseif visite.employeVisiteur  is not null %}
								{{ visite.employeVisiteur}}
							{% endif %}
						</td>
						<td>{{visite.employeVisite}}</td>
						<td>
							{{ visite.Motif }}
						</td>
						<td>{{visite.DateVisite|date("m/d/Y")}}</td>
						<td>{{visite.HeureDeb| date('h:i')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	{# <a href="{{ path('app_employe_actifs') }}">
																																																																						<button class="btn btn-primary">Retour</button>
																																																																					</a> #}
</div>
{# <h3>Liste des visites liées à la direction:
		{{ direction }}</h3>
	<ul>
		{% for visite in visitesParDirection %}
			<li>{{ visite.dateVisite|date('d/m/Y') }}
				-
				{{ visite.etatVisite ? 'Acceptée' : 'Refusée' }}</li>
		{% endfor %}
	</ul> #}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const monthNames = {
1: 'Janvier',
2: 'Février',
3: 'Mars',
4: 'Avril',
5: 'Mai',
6: 'Juin',
7: 'Juillet',
8: 'Août',
9: 'Septembre',
10: 'Octobre',
11: 'Novembre',
12: 'Décembre'
};

const data = {
labels: [{% for statistique in statistiquesParDepartement %}'{{ monthNames[statistique.mois] }}',{% endfor %}],
datasets: [
{
label: 'Nombre de Visites',
data: [{% for statistique in statistiquesParDepartement %}{{ statistique.nombreVisites }},{% endfor %}],
backgroundColor: '#FBCEB1',
borderColor: 'rgb(75, 192, 192)',
borderWidth: 1
}
]
};
const config = {
type: 'bar',
data: data,
options: {
responsive: true,
scales: {
y: {
beginAtZero: true
}
}
}
};

const visitsChart = new Chart(document.getElementById('visitsChart'), config);
</script>{% endblock body %}
