{% extends "template.html.twig" %}
{% block title %}Profil
{% endblock %}
{% block body %}
	<section style="background-color: #eee;">
		<div class="container">
			<div class="row">
				<div class="col">
					<nav aria-label="breadcrumb" class="bg-light rounded-1  mb-2">
						<ol class="breadcrumb mb-0">
							<li class="">
								<a href="#">Acceuil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="{{path('app_profil_employe')}}">Compte</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Profil</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-body text-center">
							<img src="{{asset('assets/avatar.svg')}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
							<h5 class="my-3">{{nom}}
								{{prenoms}}</h5>
							<p class="text-muted mb-1">{{poste}}</p>
							<p class="text-muted mb-1">{{email}}</p>
							<p class="text-muted ">{{tel}}</p>
							{# <div class="d-flex justify-content-center mb-2">
																																																																																																																																																																																																																																																																										<button type="button" class="btn btn-primary">Follow</button>
																																																																																																																																																																																																																																																																										<button type="button" class="btn btn-outline-primary ms-1">Message</button>
																																																																																																																																																																																																																																																																									</div> #}
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0" style="font-weight:bold">Nom d'utilisateur:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{username}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0" style="font-weight:bold">Nom complet:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{nom}}
										{{prenoms}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0" style="font-weight:bold">Adresse mail:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{email}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0" style="font-weight:bold">Téléphone:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{tel}}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0" style="font-weight:bold">Poste:</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{poste}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section id="counter" class="sec-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-3 ">
							<div
								class="count">
								{# <span class="fas fa-smile-o"></span> #}
								<p class="number">{{nombreVisE}}</p>
								<h4>
									{% if nombreVisE > 1 %}
										Visites faites
									{% else %}
										Visite faite
									{% endif %}
								</h4>
							</div>
						</div>
						<div class="col-md-3 ">
							<div
								class="count">
								{# <span class="fa fa-smile-o"></span> #}
								<p class="number">{{nombreVisR}}</p>
								<h4>
									{% if nombreVisR > 1 %}
										Visites recues
									{% else %}
										Visite recue
									{% endif %}
								</h4>
							</div>
						</div>
						<div class="col-md-3 ">
							<div
								class="count">
								{# <span class="fa fa-smile-o"></span> #}
								<p class="number">896</p>
								<h4>Total Hours</h4>
							</div>
						</div>
						<div class="col-md-3 ">
							<div
								class="count">
								{# <span class="fa fa-smile-o"></span> #}
								<p class="number">777</p>
								<h4>Projects Complete</h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% if visitesE is not empty %}
				<h1>Visites effectuées</h1>
				<ul>
					{% for visite in visitesE %}
						<li>{{ visite.DateVisite | date('d/m/Y') }}
							-
							{{ visite.Motif }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if visitesR is empty and visitesE is empty %}
				<h2 style="text-align:center;margin:40px 0;">Aucune visite pour le moment.</h2>
			{% endif %}
			{% if visitesR is not empty %}

				<div class="card mb-4">
					<div class="card-header" style="display:flex;justify-content:space-around">
						<i class="fas fa-table me-1"></i>
						<h3>Visites recues</h3>
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Visiteur</th>
									<th>Motif</th>
									<th>Date de visite</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Visiteur</th>
									<th>Motif</th>
									<th>Date de visite</th>
								</tr>
							</tfoot>
							<tbody>
								{% for visite in visitesR %}
									<tr>
										<td>
											{% if visite.typeVisiteur == 'Visiteur externe' %}
												{{ visite.visiteurExterne }}
											{% elseif visite.typeVisiteur == 'Employe visiteur' %}
												{{ visite.employeVisiteur}}
											{% endif %}
										</td>
										<td>
											{{ visite.Motif }}
										</td>
										<td>{{visite.DateVisite|date("m/d/Y")}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</tbody>
					</table>
					<a href="{{ path('app_employe_actifs') }}">
						<button class="btn btn-primary">Retour</button>
					</a>
				</div>
			{% endif %}
		</section>
	</div>
{% endblock %}
