{% extends "template.html.twig" %}
{# {% block title %}Hello EmployeController!
{% endblock %} #}

{% block body %}

	<div class="card mb-4">
		<div class="card-header" style="display:flex;justify-content:space-around">
			<i class="fas fa-table me-1"></i>
			<h3>Liste des employes</h3>
			<a href="{{path('app_add_employe')}}">
				<button class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
			</a>
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prenoms</th>
						<th>Email</th>
						<th>Poste</th>
						<th>Télephone</th>
						<th>Direction</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Nom</th>
						<th>Prenoms</th>
						<th>Email</th>
						<th>Poste</th>
						<th>Télephone</th>
						<th>Direction</th>
						<th>Actions</th>
					</tr>
				</tfoot>
				<tbody>
					{% for emp in employes %}
						<tr>
							<td>
								{{ emp.Nom }}
							</td>
							<td>{{emp.prenoms}}</td>
							<td>{{emp.email}}</td>
							<td>{{emp.poste}}</td>
							<td>{{emp.tel}}</td>
							<td>{{emp.direction}}</td>
							<td>
								<a href="{{ path('app_update_employe', {'id': emp.id}) }}">
									<button class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></button>
								</a>
								<a href="{{ path('app_hide_employe', {'id': emp.id}) }}" class="delete-button">
									<button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
								</a>
								<a href="{{ path('app_visites_effectuees', {'id': emp.id}) }}">
									<button class="btn" style="background-color:#0F8E05">Visites éffectuées</button>
								</a>
								<a href="{{ path('app_visites_recues', {'id': emp.id}) }}">
									<button class="btn">Visites recues</button>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="module">
		import Swal from 'sweetalert2';
document.querySelectorAll('.delete-button').forEach(button => {
button.addEventListener('click', function (event) {
event.preventDefault();
console.log('Bouton Supprimer cliqué !');
const deleteUrl = this.getAttribute('href');

Swal.fire({
title: 'Confirmation',
text: 'Voulez-vous vraiment supprimer cet employé ?',
icon: 'warning',
showCancelButton: true,
confirmButtonText: 'Oui',
cancelButtonText: 'Annuler'
}).then((result) => {
if (result.isConfirmed) {
window.location.href = deleteUrl; // Naviguer vers l'URL de désactivation
}
});
});
});
	</script>
{% endblock %}
