{% extends 'template.html.twig' %}

{% block title %}Hello Employes
{% endblock title  %}

{% block body %}
	<div class="container">
		{{ form_start(VisiteForm) }}
		<h1>
			Nouvelle visite</h1>

		<label>
			Date de visite</label>
		{{ form_widget(VisiteForm.DateVisite)}}


		<label>
			Heure de début</label>
		{{ form_widget(VisiteForm.HeureDeb)}}

		<label>
			Heure de fin</label>

		{{ form_widget(VisiteForm.HeureFin)}}

		<label>
			Motif</label>
		{{form_widget(VisiteForm.motif)}}

		{{ form_row(VisiteForm.EtatVisite)}}


		{# {{ form_row(VisiteForm.visiteurExterne) }} #}


		{{ form_row(VisiteForm.EmployeVisite) }}

		{{ form_end(VisiteForm) }}

	</div>
{% endblock body %}
