{% extends "template.html.twig" %}
{% block body %}
	<div id="layoutSidenav">
		<div id="layoutSidenav_content">
			<main>
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i>
						<h3>Liste des visites</h3>
					</div>
					<div class="card-body">
						<table id="datatablesSimple">
							<thead>
								<tr>
									<th>Visiteur</th>
									<th>Employé visité</th>
									<th>Motif</th>
									<th>Etat</th>
									{#Age#}
									<th>Date</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Visiteur</th>
									<th>Employé visité</th>
									<th>Motif</th>
									<th>Etat</th>
									<th>Date</th>
									<th>Actions</th>
								</tr>
							</tfoot>
							<tbody>
								{% for visite in visites %}
									<tr>
										<td>
											{% if visite.typeVisiteur == 'Visiteur externe' %}
												{{ visite.visiteurExterne }}
											{% elseif visite.typeVisiteur == 'Employe visiteur' %}
												{{ visite.employeVisiteur}}
											{% endif %}
										</td>
										<td>{{visite.EmployeVisite}}</td>
										<td>{{visite.Motif}}</td>
										<td>{{visite.EtatVisite}}</td>
										<td>{{visite.DateVisite|date("m/d/Y")}}</td>
										<td>Editer</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
