{% extends "template.html.twig" %}
{% block body %}
	<div class="card mb-4">
		<div class="card-header" style="justify-content:center">
			<i class="fas fa-table me-1"></i>
			<h3>Liste des visites</h3>
			<a href="{{path('app_add_visite')}}">
				<button
					class="btn btn-primary float-end">
					{# <i class="fa-solid fa-plus"></i> #}
					Nouvelle visite
				</button>
			</a>
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						{# <th>Type de visiteur</th> #}
						<th>Visiteur</th>
						<th>Employé visité</th>
						<th>Motif</th>
						<th>Etat</th>
						<th>Heure de fin</th>
						{#Age#}
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						{# <th>Type de visiteur</th> #}
						<th>Visiteur</th>
						<th>Employé visité</th>
						<th>Motif</th>
						<th>Etat</th>
						<th>Heure de fin</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</tfoot>
				<tbody>
					{% for visite in visites %}
						<tr>
							{# <td>{{visite.typeVisiteur}}
																																																	</td> #}
							<td>
								{% if visite.typeVisiteur == 'Visiteur externe' %}
									{{ visite.visiteurExterne }}
								{% elseif visite.typeVisiteur == 'Employe visiteur' %}
									{{ visite.employeVisiteur}}
								{% endif %}
							</td>
							<td>{{visite.EmployeVisite}}
							</td>
							<td>{{visite.Motif}}
							</td>
							<td>
								<form action="{{ path('app_accept_visite', {'id': visite.id}) }}" method="post">
									<select name="accepted">
										<option value="1" {% if visite.isEtatVisite() %} selected {% endif %}>
											<button class="btn-success">Accepté</button>
										</option>
										<option value="0" {% if not visite.isEtatVisite() %} selected {% endif %}>
											<button class="btn-warning">Refusé</button>
										</option>
									</select>
									<button type="submit" class="btn btn-info" style="padding: 1px;">Enregistrer</button>
								</form>
							</td>
							<td>
							<form action="{{path('app_accept_visite',{'id': visite.id}) }}" method="post">
								<input type="time" id="heure-fin-{{ visite.id }}" name="heure_fin" value="{{ visite.HeureFin|date('H:i') }}">
							</td></form>
							
							<!-- Heure -->
							{# <td>
								{% if visite.HeureFin is null%}
									...
								{% else %}
									{{visite.HeureFin|date("H:i")}}
									{%endif%}</td> #}
							{# </td>
							<td>
								<a href="#" data-toggle="modal" data-target="#myModal-{{visite.id}}">Voir la détails</a>
							</td>
							<div id="myModal-{{visite.id}}" class="modal fade" role="dialog"> #}
								<div class="modal-dialog modal-lg">
									<td>{{visite.DateVisite|date("d/m/Y")}}
									</td>
									<td>
										<a href="{{ path('app_update_employe', {'id': visite.id}) }}">
											<button style="background-color:green;border-width:0;color:white;">
												<i class="fa-regular fa-pen-to-square"></i>
											</button>
										</a>
										<a href="{{ path('app_hide_employe', {'id': visite.id}) }}" class="delete-button">
											<button style="background-color:red;border-width:0;color:white">
												<i class="fa-solid fa-trash"></i>
											</button>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
